/* Always set the map height explicitly to define the size of the div
                 * element that contains the map. */
#map {
    height:400px;
    height: 100%;
    position: relative;
}
/* Optional: Makes the sample page fill the window. */
 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#locationField, #controls {
    position: relative;
    width: 50%;
    margin:0 auto;
}
#autocomplete {
    position: absolute;
    top: 0px;
    left:-20px;
    width:100%;
}

.inputbox {
    margin:0 auto;
    border-radius: 20px;
    padding:25px;
    border: 0;
    font:30px;
}

